#body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1547282001-7a9900635cdf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1526&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    
}


.cover-container{
    max-width: 60vw;
}
.nav-link{
    margin-left: 10px;
    border-bottom: 0.25rem solid transparent ;
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color:rgba(255, 255, 255, 0.5) ;
}
#button{
    color: #333;
    text-shadow: none;
    
}
#button:hover{
    color: #333;
    text-shadow: none;
    
    font-size: 22px;
}
.nav-link.active{
    border-bottom-color: white;
}

